/* 기본 폰트 사이즈 */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
/* 기본 버튼 스타일 */
.btn {
  padding: 1.36rem 0;
  box-sizing: border-box;
  font-size: 1.29rem;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}
/* 폰트 사이즈 */
/* 36px */
.text-size-xl {
  font-size: 2.57rem;
}
/* 18px */
.text-size-md {
  font-size: 1.3rem;
}
/* 16px */
.text-size-base {
  font-size: 1.14rem;
}

/* MAIN */
.detail-container {
  max-width: 1200px;
  margin: 10rem auto;
  padding: 0 1.4rem;
}

/* 상품 정보 영역 */
.product-detail {
  display: grid;
  gap: 3.75rem;
  align-items: start;
}

/* 상품 이미지 */
.product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}
.product-image img {
  width: 100%;
}

/* 상품 정보 */
.product-summary {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.product-brand {
  font-size: 1.29rem;
  color: var(--sub-text-color);
}
.product-name {
  font-size: 1.5rem;
  font-weight: 700;
}
.product-price {
  font-size: 1.375rem;
}
.product-delivery {
  color: var(--sub-text-color);
}

/* 상품 수량 선택 */
.product-quantity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1.5rem 0;
  border-top: 2px solid var(--disabled-btn-color);
  border-bottom: 2px solid var(--disabled-btn-color);
}
.product-quantity button {
  width: 32px;
  height: 32px;
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-border-color);
  cursor: pointer;
}
.btn-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.btn-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.product-quantity input {
  width: 48px;
  height: 32px;
  text-align: center;
  border: 1px solid var(--main-border-color);
}

/* 총 상품 금액 */
.total-price {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  font-size: 1.125rem;
}
.order-total {
  color: var(--sub-text-color);
}
.order-total strong,
.order-price {
  color: var(--positive-text-color);
}
.price {
  font-size: 2.375rem;
}

/* 상품 정보 버튼 영역 */
.product-actions {
  display: flex;
  gap: 12px;
}
.btn-buy {
  flex-grow: 2;
  color: var(--white-text-color);
  background-color: var(--main-btn-color);
}
.btn-cart {
  flex-grow: 0.8;
  color: var(--white-text-color);
  background-color: var(--cart-btn-color);
}

/* 상품 상세 영역 */
.product-content {
  margin-top: 10rem;
}

/* 상품 상세 탭 영역 */
.product-tab-menu {
  display: flex;
}
.product-tab {
  flex: 1;
  padding: 1rem 1.5rem;
  font-weight: 500;
  text-align: center;
  color: var(--sub-text-color);
  background-color: transparent;
  border: none;
  border-bottom: 6px solid var(--light-border-color);
  cursor: pointer;
}
.product-tab-menu .active {
  border-bottom: 6px solid var(--main-btn-color);
  color: var(--positive-text-color);
}

/* ========================================================= */
/*                         미디어쿼리                         */
/* ========================================================= */

/* 모바일 버전  */
@media (max-width: 767px) {
}

/* 테블릿 버전  */
@media (min-width: 768px) and (max-width: 1089px) {
  .product-image {
    width: 80%;
    margin: 0 auto;
  }
}

/* PC 버전  */
@media (min-width: 1090px) {
  /* 상품 정보 */
  .product-detail {
    grid-template-columns: 1fr 1fr;
  }
}
