/* 기본 버튼 스타일 */
.btn {
  padding: 1.36rem 0;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  transition: all 0.5s;
  cursor: pointer;
}

/* ==================== */

/* MAIN */
.product-detail-page {
  max-width: 1200px;
  margin: 5rem auto;
  padding: 0 1.4rem;
}

/* 상품 상세 상단 영역 */
.product-overview {
  display: grid;
  align-items: stretch;
  gap: 3.75rem;
  transition: all 0.5s;
}

/* 상품 이미지 영역 */
.product-thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-thumbnail img {
  width: 100%;
}

/* 상품 정보 영역 */
.product-info-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-meta {
  gap: 1.43rem;
}
.product-brand {
  color: var(--sub-text-color);
}
.product-title {
  font-weight: 400;
}

/* 택배배송 / 무료배송 */
.delivery-info {
  margin-bottom: 0.5rem;
  color: var(--sub-text-color);
}
/* 상품 수량 선택 */
.quantity-selector {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-top: 2px solid var(--disabled-btn-color);
  border-bottom: 2px solid var(--disabled-btn-color);
}
.quantity-input {
  width: 42px;
  height: 40px;
  text-align: center;
  border-top: 1px solid var(--main-border-color);
  border-bottom: 1px solid var(--main-border-color);
}
.quantity-selector button {
  width: 40px;
  height: 42px;
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-border-color);
  cursor: pointer;
}
.quantity-decrease {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.quantity-increase {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* 총 상품 금액 */
.order-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 0;
  font-size: 1.125rem;
}
.order-summary-title {
  padding-bottom: 0.2rem;
}
.order-summary-content {
  color: var(--sub-text-color);
}
.total-quantity,
.total-price {
  color: var(--positive-text-color);
}

/* 상품 정보 버튼 영역 */
.product-actions {
  display: flex;
  gap: 12px;
}
.btn-purchase {
  flex-grow: 2;
  color: var(--white-text-color);
  background-color: var(--main-btn-color);
}
.btn-add-cart {
  flex-grow: 0.8;
  color: var(--white-text-color);
  background-color: var(--cart-btn-color);
}

/* 상품 상세 영역 */
.product-content {
  margin-top: 10rem;
}

/* 상품 상세 탭 영역 */
.tab-menu {
  display: flex;
}
.tab-button {
  flex: 1;
  padding: 1rem 1.5rem;
  font-weight: 500;
  text-align: center;
  color: var(--sub-text-color);
  background-color: transparent;
  border: none;
  border-bottom: 6px solid var(--light-border-color);
  cursor: pointer;
}
.tab-button.active {
  border-bottom: 6px solid var(--main-btn-color);
  color: var(--positive-text-color);
}

/* 상품 상세 내용 영역 */
.tab-content {
  padding: 5rem;
  text-align: center;
}

/* ========================================================= */
/*                         미디어쿼리                         */
/* ========================================================= */

/* mobile */
@media (max-width: 739px) {
  /* 탭 줄바꿈 */
  .btn-tab span {
    display: block;
  }
}
@media (max-width: 767px) {
}

/* mobile & tablet */
@media (max-width: 1089px) {
  /* 택배배송 / 무료배송 */
  .delivery-info {
    margin-top: 2rem;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1089px) {
  /* 상품 이미지 영역 */
  .product-thumbnail {
    width: 80%;
    margin: 0 auto;
  }
}

/* tablet & pc */
@media (min-width: 768px) {
  /* 택배배송 / 무료배송 */
  .delivery-info {
    margin-bottom: 1.43rem;
  }
  /* 상품 수량 선택 */
  .quantity-selector {
    padding: 2.14rem 0;
  }
  .quantity-selector button {
    width: 50px;
    height: 52px;
  }
  .quantity-input {
    width: 52px;
    height: 50px;
  }
}

/* PC */
@media (min-width: 1090px) {
  /* 상품 상세 상단 영역*/
  .product-overview {
    grid-template-columns: 1fr 1fr;
  }
}
