/* 전체 컨테이너 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  min-width: 480px;
}

/* 로고 크기 및 위치 */
.title-logo {
  width: 238px;
  height: 84px;
}

/* 로그인 컨테이너 설정 */
.login-container {
  width: 100%;
  max-width: 550px;
  margin: 60px 30px 30px 30px;
}

/* 탭 전체 디자인 */
.tab-menu {
  display: flex;
  text-align: center;
}

.tab-link {
  flex: 1;
  padding: 20px 0;
  border: 1px solid var(--main-border-color);
  border-bottom: none;
  background-color: var(--disabled-tab-color);
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
}

/* 활성화된 탭 스타일 */
.tab-link.active {
  background-color: var(--main-bg-color);
  border-bottom: none;
  margin: -1px 0;
}

/* 에러 메세지 스타일 */
.error {
  color: var(--negative-text-color);
}

input.error {
  color: unset;
  border-color: var(--negative-text-color);
}

span.error {
  display: block;
  margin-top: 26px;
  margin-bottom: -10px;
}

/* 로그인 박스 테두리 */
.login-box {
  border: 1px solid var(--main-border-color);
  border-radius: 0 0 10px 10px;
  padding: 35px;
  background: var(--main-bg-color);
}

/* 입력창 스타일 */
.input-group input {
  width: 100%;
  height: 60px;
  border: none;
  border-bottom: 1px solid var(--main-border-color);
  outline: none;
  font-size: 1rem;
}

/* 초록색 로그인 버튼 */
.login-btn {
  width: 100%;
  height: 60px;
  padding: 15px;
  background-color: var(--main-btn-color);
  color: var(--white-text-color);
  border: none;
  border-radius: 5px;
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 36px;
  cursor: pointer;
}

/* 회원가입 링크 */
.signup-link {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.signup-link > a {
  color: var(--join-text-color);
}

a:visited {
  color: inherit;
}
