/* 전체 컨테이너 크기 위치 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  min-width: 480px;
}

/* 로고 크기 및 위치 */
.title-logo {
  width: 238px;
  height: 84px;
}

/* 회원가입 컨테이너 크기 */
.signup-container {
  width: 100%;
  max-width: 550px;
  margin: 60px 30px 30px 30px;
}

/* 탭 전체 위치 */
.tab-menu {
  display: flex;
  text-align: center;
}

/* 탭 디자인 */
.tab-link {
  flex: 1;
  padding: 20px 0;
  border: 1px solid var(--main-border-color);
  border-bottom: none;
  background-color: var(--disabled-tab-color);
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
}

/* 활성화된 탭 스타일 */
.tab-link.active {
  background-color: var(--main-bg-color);
  border-bottom: none;
  margin-bottom: -1px;
}

/* 폼 박스 테두리 */
.signup-box {
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 35px;
  background: var(--main-bg-color);
  width: 100%;
  box-sizing: border-box;
  gap: 5px;
}

/* ID 입력창 배치 */
.input-id-group {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

/* 비밀번호 체크 아이콘 상대위치 선언 */
.input-pw-group,
.input-confirm-pw-group {
  position: relative;
}

/* 비밀번호 체크 아이콘 절대위치 설정 */
.pw-check-icon,
.pw-confirm-check-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  color: var(--checkbox-disabled-color);
}

/* 초록색 중복확인 버튼 */
.id-check-btn {
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 14px;
  background-color: var(--main-btn-color);
  color: var(--white-text-color);
  cursor: pointer;
  width: 122px;
}

/* 공통 입력창 스타일 */
input,
.number-select {
  height: 54px;
  font-size: 1rem;
  box-sizing: border-box;
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  padding-left: 16px;
}

/* 아이디 입력칸 크기채우기 */
.input-id-group > input {
  flex: 1;
}

/* 그외 입력칸 크기지정 */
.input-pw-group > input,
.input-confirm-pw-group > input,
.input-name-group > input {
  width: 100%;
}

/* 전화번호 그룹 */
.input-phone-number-group {
  display: flex;
  gap: 10px;
}

/* 전화번호 입력칸 */
.input-phone-number-group > input,
.number-select {
  width: 100%;
  text-align: center;
}

/* 전화번호 입력칸 패딩제거 */
.input-phone-number-group > input {
  padding: 0;
}

/* 폼 내부 텍스트 */
.form-text {
  font-size: 1rem;
  color: var(--sub-text-color);
  margin: 7px 0;
}

/* 이용약관 개인정보 처리 방침*/
.agree-check-container {
  display: inline-flex;
  gap: 10px;
  align-items: center;
}

/* 이용약관 스타일 */
.agree-text {
  color: var(--sub-text-color);
  font-weight: 400;
  font-size: 1rem;
  margin: 34px 0;
}

/* 텍스트 강조 */
.agree-text > span {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

/* 회원가입 버튼 위치 정렬 */
.signup-btn-box {
  justify-items: center;
  text-align: center;
}

/* 회원가입 버튼 */
.signup-btn {
  font-size: 1.125rem;
  font-weight: 700;
  width: 480px;
  padding: 19px 0;
  border: none;
  border-radius: 5px;
  color: var(--white-text-color);
  cursor: pointer;
}

/* 비활성화 회색 버튼*/
button:disabled {
  background-color: var(--disabled-btn-color);
  cursor: not-allowed;
}

/* 활성화 초록 버튼 */
.signup-btn-box > button:not(:disabled) {
  background-color: var(--main-btn-color);
}

/* input의 숫자 제어 화살표 제거 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* 스피너 제거 */
  margin: 0; /* 불필요한 여백 제거 */
}

/* 에러 빨간색 */
.error {
  color: var(--negative-text-color);
  border-color: var(--negative-border-color);
}

/* input 에러 빨간색 */
input.error {
  color: unset;
  border-color: var(--negative-text-color);
}

/* 비밀번호 input이 success일 때 아이콘 초록 */
.input-pw-group input.success ~ .pw-check-icon {
  color: var(--checkbox-bg-color);
}

/* 비밀번호 확인 input이 success일 때 아이콘 초록 */
.input-confirm-pw-group input.success ~ .pw-confirm-check-icon {
  color: var(--checkbox-bg-color);
}

/* 통과 초록색 */
.success {
  color: var(--positive-text-color);
  border-color: var(--positive-border-color);
}

/* 알림 메세지 위치 */
span.success,
span.error {
  display: block;
  margin: 7px 0;
}

/* input 초록색 */
input.success {
  color: unset;
  border-color: var(--positive-border-color);
}

/* 휴대폰 번호 텍스트 색상적용x */
select.success,
select.error {
  color: unset;
}

/* 비밀번호 체크색상 초록 */
.input-pw-group.success .pw-check-icon,
.input-confirm-pw-group.success .pw-confirm-check-icon {
  color: var(--checkbox-bg-color);
}

/* 모바일 환경 크기설정 */
@media (max-width: 768px) {
  .signup-container {
    width: 80%;
  }

  .signup-btn {
    width: 80%;
  }
}
