/* 전체 컨테이너 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 로고 크기 및 위치 */
.title-logo {
  width: 238px;
  height: 84px;
  margin-top: 100px;
}

/* 컨테이너 및 폰트 설정 */
.login-container {
  width: 500px;
  padding: 35px;
}

/* 탭 전체 디자인 */
.tab-menu {
  display: flex;
  text-align: center;
}

.tab-link {
  flex: 1;
  padding: 15px 0;
  border: 1px solid var(--main-border-color);
  border-bottom: none;
  background-color: var(--disabled-tab-color);
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
}

/* 활성화된 탭 스타일 */
.tab-link.active {
  background-color: var(--main-bg-color);
  border-bottom: none;
  margin: -1px 0;
}

.error {
  color: var(--negative-text-color);
}

input.error {
  color: unset;
  border-color: var(--negative-text-color);
}

/* 로그인 박스 테두리 */
.login-box {
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 35px;
  background: var(--main-bg-color);
}

/* 입력창 스타일 */
.input-group input {
  width: 100%;
  height: 60px;
  border: none;
  border-bottom: 1px solid var(--main-border-color);
  outline: none;
  font-size: 16px;
}

/* 초록색 로그인 버튼 */
.login-btn {
  width: 100%;
  height: 60px;
  padding: 15px;
  background-color: var(--main-btn-color);
  color: var(--white-text-color);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 35px;
  cursor: pointer;
}
