/* 전체 컨테이너 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 로고 크기 및 위치 */
.title-logo {
  width: 238px;
  height: 84px;
  margin: 100px 0;
}

/* 탭 전체 디자인 */
.tab-menu {
  display: flex;
  text-align: center;
}

.tab-link {
  flex: 1;
  padding: 20px 0;
  border: 1px solid var(--main-border-color);
  background-color: var(--disabled-tab-color);
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
}

/* 활성화된 탭 스타일 */
.tab-link.active {
  background-color: var(--main-bg-color);
  border-bottom: none;
  margin-bottom: -1px;
}

/* 폼 박스 테두리 */
.signup-box {
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 35px;
  background: var(--main-bg-color);
  width: 550px;
  box-sizing: border-box;
  gap: 5px;
}

/* 입력창 스타일 */
.input-id-group {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.id-check-btn {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 14px;
  background-color: var(--main-btn-color);
  color: var(--white-text-color);
  flex: 1;
  cursor: pointer;
}

.input-id-group > input {
  width: 346px;
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  height: 54px;
}

.input-pw-group > input {
  width: 100%;
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  height: 54px;
}

.input-name-group > input {
  width: 100%;
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  height: 54px;
}

.input-phone-number-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.number-select {
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.input-phone-number-group > input {
  width: 100%;
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  height: 54px;
  text-align: center;
  font-size: 16px;
}

input:focus {
  outline: none;
}

/* 폼 내부 텍스트 */
.form-text {
  font-size: 16px;
  color: var(--sub-text-color);
  margin: 7px 0;
}

/* 이용약관 개인정보 처리 방침*/
.agree-check-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-items: center;
}

.agree-text {
  color: var(--sub-text-color);
  font-weight: 400;
  font-size: 16px;
  margin: 34px 0;
}

/* 텍스트 강조 */
.agree-text > span {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

/* 회원가입 버튼 위치 정렬 */
.signup-btn-box {
  justify-items: center;
  text-align: center;
}

/* 회원가입 버튼 */
.signup-btn {
  font-size: 18px;
  font-weight: 700;
  width: 480px;
  padding: 19px 0;
  border: none;
  border-radius: 5px;
  color: var(--white-text-color);
  cursor: pointer;
}

button:disabled {
  background-color: var(--disabled-btn-color);
  cursor: not-allowed;
}

.signup-btn-box > button:not(:disabled) {
  background-color: var(--main-btn-color);
}

.error {
  border-color: var(--negative-border-color);
}

.success {
  border-color: var(--positive-border-color);
}
