* {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
}
a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}
h1,
h2,
ul,
p {
  list-style: none;
}
input {
  border: transparent;
}
input:focus {
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}
