html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* 14px일 때 - 36px */
.text-size-xl {
  font-size: 2.25rem;
}
/* 14px일 때 - 18px */
.text-size-md {
  font-size: 1.125rem;
}
/* 14px일 때 - 16px */
.text-size-base {
  font-size: 1rem;
}

/* 폰트 스타일 */
.font-bold {
  font-weight: 700;
}
.font-medium {
  font-weight: 500;
}
.font-base {
  font-weight: 400;
}
