:root {
  /* 배경 색상 */
  --main-bg-color: #ffffff;
  --disabled-tab-color: #f2f2f2;

  /* 외곽선 색상 */
  --main-border-color: #c4c4c4;
  --light-border-color: #e0e0e0;
  --positive-border-color: #21bf48;
  --negative-border-color: #eb5757;

  /* 폰트 색상 */
  --main-text-color: #000000;
  --white-text-color: #ffffff;
  --join-text-color: #333333;
  --sub-text-color: #767676;
  --positive-text-color: #21bf48;
  --negative-text-color: #eb5757;

  /* 버튼 색상 */
  --main-btn-color: #21bf48;
  --disabled-btn-color: #c4c4c4;
  --cart-btn-color: #767676;

  /* 체크박스 색상 */
  --checkbox-bg-color: #21bf48;
  --checkbox-disabled-color: #f2f2f2;
  --checkbox-check-color: #ffffff;
}
