:root {
  /* 배경 색상 */
  --main-bg-color: #ffffff;
  --main-border-color: #c4c4c4;
  --disabled-tab-color: #f2f2f2;

  /* 폰트 색상 */
  --main-text-color: #000000;
  --join-text-color: #333333;
  --sub-text-color: #767676;
  --positive-text-color: #21bf48;
  --negative-text-color: #eb5757;

  /* 버튼 색상 */
  --main-btn-color: #21bf48;
  --disabled-btn-color: #c4c4c4;
  --btn-color: #767676;
}
